head
  meta(charset='utf-8')
  meta(http-equiv='X-UA-Compatible', content='IE=edge')
  meta(name='viewport', content='width=device-width, initial-scale=1')
  title!= 'Anubis - ' + title
  <!-- React -->
  script(src='/bower_components/react/react.min.js')
  script(src='/bower_components/react/JSXTransformer.js')
    
  <!-- jQuery -->
  script(src='/bower_components/jquery/dist/jquery.min.js')
  
  <!-- Bootstrap -->
  link(href='/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
  link(href='/bower_components/bootstrap/dist/css/bootstrap-theme.min.css', rel='stylesheet')
  script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
  
  <!-- Socket.IO -->
  script(src='/socket.io/socket.io.js')
    
  <!-- Global stylesheet -->
  link(href='/css/main.css', rel='stylesheet')
